<th:block layout:decorate="~{layout/fullPageLayout}" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title th:utext="${title}">Homepage title</title>
    </head>


    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-8">
                <h1 th:utext="${name}">My name</h1>
                <h2 th:utext="${nameDesc}">My description</h2>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-12 col-md-10">
                <h4 class="about-header" th:utext="#{homepage.headers.about}"></h4>
                <span th:utext="${aboutText}"></span>
                <h4 th:utext="#{homepage.headers.interests}"></h4>
                <span th:each="interest : ${interests}" class="badge-span" th:utext="${interest}"></span>
                <h4 th:utext="#{homepage.headers.tech}"></h4>
                <span th:each="tech : ${techs}" class="badge-span" th:utext="${tech}"></span>
                <h4 th:utext="#{homepage.headers.contact}"></h4>
                <span th:utext="${contactText}"></span>
                <div class="contact-block">
                    <th:block th:each="contact : ${contacts}" th:object="${contact}">
                        <a th:href="*{url}">
                            <div th:data-icon="*{icon}" data-size="l"></div>
                        </a>
                    </th:block>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <th:block th:each="cert : ${certificates}" th:object="${cert}">
                    <div class="certificate-container">
                        <a th:href="*{url}">
                            <img class="certificate-image" th:src="*{imageUrl}" alt="*{description}">
                            <span th:utext="*{description}"></span>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</th:block>