<th:block layout:decorate="~{layout/fullPageLayout}">

    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <h1>Pavel Laktiushkin</h1>
                <h2>Software engineering enthusiast</h2>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-md-10 offset-md-1">
                <h4 class="about-header">About me</h4>
                I'm a software engineer with more than 6 years of experience in backend and full-stack development of complex web applications
            </div>
        </div>
    </div>

</th:block>