<meta charset="utf-8" xmlns:th="http://www.w3.org/1999/xhtml"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="author" content="Pavel Laktiushkin" />

<title th:if="${pageTitle}" th:utext="${pageTitle}"></title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/css/bootstrap-grid.css"/>
<link rel="stylesheet" href="/static/css/layout.css"/>

